@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
}

body {
  font-family: var(--font-roboto);
  background: -webkit-gradient(linear, left top, right bottom, from(#39293a), to(#82495b)) fixed;

}

.app {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

h1{
  font-size: 3.5rem;
  letter-spacing: 0.9px;
  color:#9d6778;
  background-size: 500%;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
    color: #9d6778;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50.1%,60.1%,80%,90.1%,92%,100%{
    color: #c7907c;
    text-shadow: 
    0 0 10px #C86272,
    0 0 20px #C86272,
    0 0 40px #C86272,
    0 0 50px #C86272,
    0 0 160px #C86272
  }
}

.searchField{
  width: 71%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #39293a;
  -webkit-box-shadow: 5px 5px 7px #39293a, -5px -5px 7px #82495b;
  box-shadow: 5px 5px 7px #39293a, -5px -5px 7px #82495b;
}

.searchField input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #a1a1a1;
  background: #39293a;
}

.searchField img {
  width: 35px;
  height: 35px;
  cursor: pointer;
} 